<meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta content="width=device-width, initial-scale=1" name="viewport">
            <title>
                a xiba
            </title>
            <link href=<%= asset_path 'animate.css' %> rel="stylesheet">
                <link href=<%= asset_path 'bootstrap.min.css' %> rel="stylesheet">
                    <link href=<%= asset_path 'style.css' %> rel="stylesheet">
                        <link href=<%= asset_path 'fonts.css' %> rel="stylesheet">
                            <script src=<%= asset_path 'jquery.min.js' %>>
                            </script>
                            <script src=<%= asset_path 'bootstrap.min.js' %>>
                            </script>
                            <script src=<%= asset_path 'modernizr.custom.37797.js' %>>
                            </script>
                        </link>
                    </link>
                </link>
            </link>
        </meta>
    </meta>
</meta>
<!-- Google Tag Manager (noscript) -->
<noscript>
  <iframe height="0" src="https://www.googletagmanager.com/ns.html?id=GTM-5S67VGH" style="display:none;visibility:hidden" width="0">
  </iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="container-fluid">
  <div class="row header">
    <div class="logo">
      <img alt="logo" src=<%= asset_path 'logo.svg' %> style="width:188px;"/>
    </div>
    <div class="des">
      <div class="slogan">
        <img alt="slogan" src=<%= asset_path 'slogan.svg' %> style="width:508px;"/>
      </div>
      <div>
        <a href="https://itunes.apple.com/au/app/%E6%BE%B3%E6%B4%B2%E6%9F%A5%E6%9F%A5%E8%BD%A6/id1431289464" target="_blank">
          <div class="topbutton">
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="wrap">
    <div class="row top">
      <div class="topmobile">
        <img alt="topmobile" src=<%= asset_path 'topmobile.png' %> width="400px">
      </img>
    </div>
    <div class="topmobiledes">
      <h1>
        About Cha Cha
      </h1>
      <h2>
        关于
      </h2>
      <img alt="developed" class="img" src=<%= asset_path 'about.png' %> style="max-width: 80%;" width="455px">
      <blockquote>
        <img alt="symbol" class="symbol" src=<%= asset_path 'symbol.svg' %> style="max-width:6%" width="28px">
        查查车是澳洲首款面向华人新车购车用户的汽车综合类APP。功能涵盖中文汽车资讯，评测，独家视频，优惠信息等。用户可以通过内置即时聊天工具，随时随地同中文销售进行联络，节省沟通成本
        <img alt="symbolrev" class="symbolrev" src=<%= asset_path 'symbol.svg' %> style="max-width:6%" width="28px"/>
      </img>
    </blockquote>
    <img alt="bubble" class="d-none d-md-block" src=<%= asset_path 'bubble.svg' %> style="margin:0 auto;" width="288px">
  </img>
</img>
</div>
</div>
<div class="row fone d-flex justify-content-center">
  <div class="fonedes">
    <h1>
      FEATURE ONE
    </h1>
    <span class="star">
      <h2>
        功能一
      </h2>
    </span>
    <img alt="title1" class="img" src=<%= asset_path 'feature1.svg' %> width="260px">
    <h3>
      __
    </h3>
    <p>
      在
      <b>
        资讯板块
      </b>
      筛选您感兴趣的品牌及车型，

      即可查看相关文章，获取销售聊天方式
    </p>
    <div class="d-none d-md-block">
      <img alt="arrow" class="arrow" src=<%= asset_path 'arrow.svg' %> width="166px"/>
    </div>
  </img>
</div>
<div class="f-img">
  <img alt="section1" src=<%= asset_path 'section1.png' %> width="550px"/>
</div>
</div>
<div class="row ftwo d-flex justify-content-center">
  <div class="f-img">
    <img alt="" src=<%= asset_path 'section2.png' %> width="550px">
  </img>
</div>
<div class="ftwodes">
  <h1>
    FEATURE two
  </h1>
  <span class="star">
    <h2>
      功能二
    </h2>
  </span>
  <img alt="title1" class="img" src=<%= asset_path 'feature2.png' %> width="260px">
  <h3>
    __
  </h3>
  <p>
    通过
    <b>
      文章资讯
    </b>
    或
    <b>
      经销商板块,
    </b>
    选择您想要咨询的品牌中文销售，

    即可进行即时沟通
  </p>
</img>
<div class="d-none d-md-block">
  <img alt="arrow" class="arrowrev" src=<%= asset_path 'arrow.svg' %> width="166px"/>
</div>
</div>
</div>
<div class="row fthree d-flex justify-content-center">
  <div class="fthreedes">
    <h1>
      FEATURE three
    </h1>
    <span class="star">
      <h2>
        功能三
      </h2>
    </span>
    <img alt="title1" class="img" src=<%= asset_path 'feature3.png' %> width="300px">
    <h3>

    </h3>
    <p>
      无需留下个人信息等待销售回复。

      查查车在手，

      即可随时随地与销售主动沟通，

      省时省力又省心
    </p>
  </img>
</div>
<div class="f-img">
  <img alt="" src=<%= asset_path 'section3.png' %> width="550px">
</img>
</div>
</div>
</div>
<div class="download">
  <div class="row content">
    <div class="col-md-5">
      <div class="scan">
        <h1>
          扫我下载
        </h1>
      </div>
      <img alt="" class="qr" src=<%= asset_path 'qr.png' %> width="221px"/>
    </div>
    <div class="col-md-2">
      <h4>
        or
      </h4>
    </div>
    <div class="col-md-5">
      <a href="https://itunes.apple.com/au/app/%E6%BE%B3%E6%B4%B2%E6%9F%A5%E6%9F%A5%E8%BD%A6/id1431289464" target="_blank">
        <img alt="btmbtn" class="btmbtn" src=<%= asset_path 'bottombutton.png' %> width="280px"/>
      </a>
    </div>
  </div>
</div>
<div class="contact">
  <button data-target="#contact" data-toggle="modal">
    <h5>
      商家入驻
    </h5>
    <span>
      >
    </span>
  </button>
  <h6 class="developed">
    developed by
    <a href="http://www.carnewscn.com.au">
      <b>
        carnewscn.com
      </b>
    </a>
  </h6>
</div>
<div aria-hidden="true" aria-labelledby="contact" class="modal fade" id="contact" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">
            ×
          </span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <h1>
            联系我们
          </h1>
          <h2>
            sam@carnewscn.com.au
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
