<%= form_with(model: request_record, local: true) do |form| %>
  <% if request_record.errors.any? %>
    <div id="error_explanation" style="margin: auto; width: 85%" >
      <!-- <h2><%= pluralize(request_record.errors.count, "error") %> prohibited this request_record from being saved:</h2> -->
      <h2 style="font-size: 11pt">请输入04开头的澳洲手机号码</h2>
      <!-- <ul>
      <% request_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul> -->
    </div>
  <% end %>
<!--
  <div class="field">
    <%= form.label :firstName %>
    <%= form.text_field :firstName %>
  </div>

  <div class="field">
    <%= form.label :lastName %>
    <%= form.text_field :lastName %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :request_type %>
    <%= form.text_field :request_type %>
  </div>

  <div class="field">
    <%= form.label :brand %>
    <%= form.text_field :brand %>
  </div>

  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model %>
  </div> -->

  <div class="container" style="height:100%;width:100%;">
          <div class="flexbox" style="height:300px;">
              <div class="col-md-12">
                  <h2 id="myModalLabel">
                      您的电话
                  </h2>
              </div>
              <div class="col-md-12">
                  <div class="form-group">
                    <input class="form-control" type="text" name="request_record[phone]" id="request_record_phone" />
                  </div>
              </div>
              <div class="col-md-12">
                  <h3>
                      *我们需要您的电话为您提供优惠信息
                  </h3>
              </div>
              <div class="modal-footer">
                  <input class="btn-outline complete" name="commit" type="submit" value="完成申请" style="margin-bottom: 30px; margin-top: 0px !important;"/>
              </div>
          </div>
      </form>
  </div>




<!-- <input id="phone" name="phone" type="text" /> -->
  <!-- <div class="field">
    <%= form.text_field :phone %>
  </div> -->




<% end %>
