<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <title>
    询价与试驾
  </title>
  <link href=<%= asset_path 'bootstrap.min.css' %> rel="stylesheet"/>
  <link href=<%= asset_path 'normalize.css' %> rel="stylesheet"/>
  <link href=<%= asset_path 'style2.css' %> rel="stylesheet"/>
  <link href="//cdn.bootcss.com/tether/1.3.6/css/tether.min.css" rel="stylesheet">
  <script src="//cdn.bootcss.com/tether/1.3.6/js/tether.min.js">
  </script>
  <script src=<%= asset_path 'jquery.min.js' %>>
  </script>
  <script src=<%= asset_path 'bootstrap.min.js' %>>
  </script>
  <script src=<%= asset_path 'brand.js' %>>
  </script>
  <script src=<%= asset_path 'form.js' %>>
  </script>
</link>
<!-- Google Tag Manager -->
<script>
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5S67VGH');
</script>
<!-- End Google Tag Manager -->
</head>
<body>
  <noscript>
    <iframe height="0" src="https://www.googletagmanager.com/ns.html?id=GTM-5S67VGH" style="display:none;visibility:hidden" width="0">
    </iframe>
  </noscript>
  <%= render 'form', request_record: @request_record %>

  <!-- <%= link_to 'Show', @request_record %> |
  <%= link_to 'Back', request_records_path %> -->
</body>
</html>
