<DOCTYPE! html>
<html>
<body>
<p id="notice"><%= notice %></p>

<h1>Request Records</h1>

<table>
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Location</th>
      <th>Request type</th>
      <th>Brand</th>
      <th>Model</th>
      <th>Phone</th>
      <th>时间</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @request_records.each do |request_record| %>
      <tr>
        <td><%= request_record.firstName %></td>
        <td><%= request_record.lastName %></td>
        <td><%= request_record.location %></td>
        <td><%= request_record.request_type %></td>
        <td><%= request_record.brand %></td>
        <td><%= request_record.model %></td>
        <td><%= request_record.phone %></td>
        <td><%= request_record.created_at.to_date %></td>
        <!-- <td><%= link_to 'Show', request_record %></td>
        <td><%= link_to 'Edit', edit_request_record_path(request_record) %></td> -->
        <td><%= link_to 'Destroy', request_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Request Record', new_request_record_path %>
</body>
</html>
