
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe height="0" src="https://www.googletagmanager.com/ns.html?id=GTM-5S67VGH" style="display:none;visibility:hidden" width="0">
            </iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
        <div class="container-fluid">
            <div class="success">
                <h1>
                    <span id="request_type">
                        您的信息已收到
                    </span>
                    ，我们会尽快联系您
                </h1>
            </div>
        </div>
