<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <title>
            询价与试驾
        </title>
        <link href=<%= asset_path 'bootstrap.min.css' %> rel="stylesheet"/>
        <link href=<%= asset_path 'normalize.css' %> rel="stylesheet"/>
        <link href=<%= asset_path 'style2.css' %> rel="stylesheet"/>
        <link href="//cdn.bootcss.com/tether/1.3.6/css/tether.min.css" rel="stylesheet">
            <script src="//cdn.bootcss.com/tether/1.3.6/js/tether.min.js">
            </script>
            <script src=<%= asset_path 'jquery.min.js' %>>
            </script>
            <script src=<%= asset_path 'bootstrap.min.js' %>>
            </script>
            <script src=<%= asset_path 'brand.js' %>>
            </script>
            <script src=<%= asset_path 'form.js' %>>
            </script>
        </link>
        <!-- Google Tag Manager -->
        <script>
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5S67VGH');
        </script>
        <!-- End Google Tag Manager -->
    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe height="0" src="https://www.googletagmanager.com/ns.html?id=GTM-5S67VGH" style="display:none;visibility:hidden" width="0">
            </iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
        <%= form_with(model: @request_record, local: true, id: 'form') do |form| %>
            <input id="request_type" name="request_type" type="hidden"/>
            <input id="location" name="location" type="hidden"/>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h1>
                            立刻咨询或预约试驾
                        </h1>
                    </div>
                </div>
                <div class="row">
                    <form>
                        <div class="col-6">
                            <h2>
                                姓
                            </h2>
                            <div class="form-group">
                                <input class="form-control" id="lastName" name="lastName" type="text"/>
                            </div>
                        </div>
                        <div class="col-6">
                            <h2>
                                名
                            </h2>
                            <div class="form-group">
                                <input class="form-control" id="firstName" name="firstName" type="text"/>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h2>
                            您想
                        </h2>
                    </div>
                </div>
                <div class="row request_type-row">
                    <div class="btn-item">
                        <button class="btn" onclick="setRadio(this, request_type)" style="text-align: left;" type="button" value="0">
                            询问优惠
                        </button>
                    </div>
                    <div class="btn-item">
                        <button class="btn" onclick="setRadio(this, request_type)" style="text-align: left;" type="button" value="1">
                            预约试驾
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h2>
                            您在
                        </h2>
                    </div>
                </div>
                <div class="row location-row">
                    <div class="btn-item">
                        <button class="btn" onclick="setRadio(this, location)" style="text-align: left;" type="button" value="0">
                            墨尔本
                        </button>
                    </div>
                    <div class="btn-item">
                        <button class="btn" onclick="setRadio(this, location)" style="text-align: left;" type="button" value="1">
                            悉尼
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h2>
                            品牌/车型
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="btn-item">
                        <select class="option" id="brand" name="brand">
                            <option>
                                品牌
                            </option>
                        </select>
                    </div>
                    <div class="btn-item">
                        <select class="option" id="model" name="model">
                            <!--Below shows when '1 column' is selected is hidden otherwise-->
                            <option>
                                车型
                            </option>
                        </select>
                    </div>
                </div>

                <div class="row">
                  <button class="btn-outline">
                         提交
                  </button>
                <!--     <button class="btn-outline" data-toggle="modal" href="#modal-container-264992">
                        提交
                    </button>
                    <div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="modal-container-264992" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button class="close" data-dismiss="modal" type="button">
                                        <span aria-hidden="true">
                                            ×
                                        </span>
                                    </button>
                                </div>

                                <div class="modal-footer">
                                  <div class="actions">
                                    <%= form.submit %>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        <% end %>
        <!-- <script>
            $("select").click(function(){
                $(this).css({"background-color": "#EA2E36", "color": "#fff"});
            });
        </script>
        <script type="text/javascript">
            window.addEventListener('keydown',function(e){if(e.keyIdentifier=='U+000A'||e.keyIdentifier=='Enter'||e.keyCode==13){if(e.target.nodeName=='INPUT'&&e.target.type=='text'){e.preventDefault();return false;}}},true);
        </script> -->
    </body>
</html>
