

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <title>
    询价与试驾
  </title>
  <link href=<%= asset_path 'bootstrap.min.css' %> rel="stylesheet"/>
  <link href=<%= asset_path 'normalize.css' %> rel="stylesheet"/>
  <link href=<%= asset_path 'style2.css' %> rel="stylesheet"/>
  <link href="//cdn.bootcss.com/tether/1.3.6/css/tether.min.css" rel="stylesheet">
  <script src="//cdn.bootcss.com/tether/1.3.6/js/tether.min.js">
  </script>
  <script src=<%= asset_path 'jquery.min.js' %>>
  </script>
  <script src=<%= asset_path 'bootstrap.min.js' %>>
  </script>
  <script src=<%= asset_path 'brand.js' %>>
  </script>
  <script src=<%= asset_path 'form.js' %>>
  </script>
</link>
<!-- Google Tag Manager -->
<script>
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5S67VGH');
</script>

<style>
    h1, h2, h3, h4 {
font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei";
}
p {
line-height: 1.7;
margin: 0 0 1em;
}
.flex-column {
-ms-flex-direction: column!important;
flex-direction: column!important;
}
.article {
margin-left: 10pt;
margin-right: 10pt;
text-align: left;
font-weight: 400;
}
.article p {
font-size: 0.95em;
}
.article h1 {
font-weight: 600;
font-size: 25pt;
margin: 10px 0;
}
.label-kicker {
font-weight: 800;
display: inline-block;
text-transform: uppercase;
color: #fff;
background: #1c1c1c;
font-size: 13px;
padding: 2px 4px 2px 3px;
line-height: 1;
letter-spacing: 1px;
margin: 0 0 2px;
}
.byline {
color: #737373;
margin-bottom: .5em;
font-size: 0.9em;
}
.bold {
font-weight: 800;
}
.photo {
margin: 20px 0;
}
.full {
clear: both;
}
.list h1 {
font-size: 1em;
font-weight: normal;
}
.article ul {
list-style-type: disc;
}
.article ul li {
background: none;
padding-left: 6px;
font-size: 0.8em;
color: grey;
line-height: 2;
font-weight: normal;
}
.underline {
border-bottom: 1px solid #EDEDED;
margin: 20px 0;
}

.list {
  font-size: 11pt
}
</style>
</head>


<body>


  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe height="0" src="https://www.googletagmanager.com/ns.html?id=GTM-5S67VGH" style="display:none;visibility:hidden" width="0">
    </iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->

  <!-- Start your project here-->
  <div class="article" id="main_content">
    <strong class="label-kicker">
      新闻
    </strong>
    <h1>
      13万5千起的玛莎拉蒂Levanta，你心动了吗？
    </h1>
    <div class="byline">
      <span class="bold">
        作者:
      </span>
      查查车
      <span class="bold">
        日期:
      </span>
      23 Oct 2018
    </div>
    <div class="photo full">
      <img class="img-fluid" src="https://www.carnewscn.com.au/data/upload/2018-10/20181009191514212947.jpeg" style="margin: auto">
    </img>
  </div>
  <p>
    2019新款玛莎拉蒂Levante的入门级最新优惠起价125,000澳元，不含上路费。含税开走价现在全澳优惠中，仅需13万4990澳元！
  </p>
  <p>
    2019款新增的入门级Levante搭载汽油双涡轮增压V6发动机，最大功率为257kW，峰值扭矩为500Nm，百公里加速时间为6.0秒，最高时速251km / h。匹配八速自动变速箱和玛莎拉蒂Q4四驱系统，后桥上配有限滑差速器。双排气筒发出的玛莎拉蒂式排气声恰到好处。标配19英寸合金轮毂、电动尾门、手工缝制的皮革内饰、带12向电动调节的可加热前排座椅和黑色钢琴烤漆仪表饰板等。
  </p>
  <p>
    此外还标配玛莎拉蒂MTC +信息娱乐系、卫星导航、数字收音机，支持Apple CarPlay和Android Auto。入门级玛莎拉蒂Levante配备盲点监控、后视摄像头、四角停车传感器、无钥匙进入、双区空调和自动倾斜后视镜等。
  </p>
  <div class="photo full">
    <img class="img-fluid" src="https://www.carnewscn.com.au/data/upload/2018-10/20181009191533201044.jpeg" style="margin: auto">
  </img>
</div>
<p>
  玛莎拉蒂还将为新款Levante提供GranSport和GranLusso两种装饰套件，两款车型均起价159,900澳元（不含上路费）。 前者提供灵感来源于Levante GTS的独特外观和更加运动的内饰。后者的外观更加柔和，为高光黑色格栅和低进气口等增加镀铬装饰，后部扩散器偏向哑光。除了增加最新的入门级汽油车型外，2019款玛莎拉蒂Levante系列还略有更新。自动换挡器重新调校后拥有更快的换挡速度，玛莎拉蒂还将首次提供选配LED全矩阵大灯。
</p>
<div class="photo full">
  <img class="img-fluid" src="https://www.carnewscn.com.au/data/upload/2018-10/20181009191553770298.jpeg" style="margin: auto">
</img>
</div>
<div class="list">
  <div class="underline">
  </div>
  <h1>
    澳洲2019款玛莎拉蒂Levante 价格和规格（不含上路费）
  </h1>
  <ul class="list" >
    <li>
      澳洲2019款玛莎拉蒂Levante - 125,000澳元
    </li>
    <li>
      澳洲2019款玛莎拉蒂Levante GranLusso / GranSport - 159,990澳元
    </li>
    <li>
      澳洲2019款玛莎拉蒂Levante Turbo Diesel - 139,990澳元
    </li>
    <li>
      澳洲2019款玛莎拉蒂Levante Turbo Diesel GranLusso / GranSport - 159,990澳元
    </li>
    <li>
      澳洲2019款玛莎拉蒂LevanteS - 179,990澳元
    </li>
    <li>
      澳洲2019款玛莎拉蒂Levante S GranLusso / GranSport - 189,990澳元
    </li>
  </ul>
</div>
</div>


<br/>

<%= form_with(model: @request_record, local: true, id: 'form') do |form| %>
<input id="request_type" name="request_type" type="hidden"/>
<input id="location" name="location" type="hidden"/>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>
        立刻咨询或预约试驾
      </h1>
    </div>
  </div>
  <div class="row">
    <form>
      <div class="col-6">
        <h2>
          姓
        </h2>
        <div class="form-group">
          <input class="form-control" id="lastName" name="lastName" type="text"/>
        </div>
      </div>
      <div class="col-6">
        <h2>
          名
        </h2>
        <div class="form-group">
          <input class="form-control" id="firstName" name="firstName" type="text"/>
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>
        您想
      </h2>
    </div>
  </div>
  <div class="row request_type-row">
    <div class="btn-item">
      <button class="btn" onclick="setRadio(this, request_type)" style="text-align: left;" type="button" value="0">
        询问优惠
      </button>
    </div>
    <div class="btn-item">
      <button class="btn" onclick="setRadio(this, request_type)" style="text-align: left;" type="button" value="1">
        预约试驾
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>
        您在
      </h2>
    </div>
  </div>
  <div class="row location-row">
    <div class="btn-item">
      <button class="btn" onclick="setRadio(this, location)" style="text-align: left;" type="button" value="0">
        墨尔本
      </button>
    </div>
    <div class="btn-item">
      <button class="btn" onclick="setRadio(this, location)" style="text-align: left;" type="button" value="1">
        悉尼
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>
        品牌/车型
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="btn-item">
      <select class="option" id="brand" name="brand">
        <option>
          品牌
        </option>
      </select>
    </div>
    <div class="btn-item">
      <select class="option" id="model" name="model">
        <!--Below shows when '1 column' is selected is hidden otherwise-->
        <option>
          车型
        </option>
      </select>
    </div>
  </div>

  <div class="row">
    <button class="btn-outline">
      提交
    </button>
    <!--     <button class="btn-outline" data-toggle="modal" href="#modal-container-264992">
    提交
  </button>
  <div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="modal-container-264992" role="dialog">
  <div class="modal-dialog" role="document">
  <div class="modal-content">
  <div class="modal-header">
  <button class="close" data-dismiss="modal" type="button">
  <span aria-hidden="true">
  ×
</span>
</button>
</div>

<div class="modal-footer">
<div class="actions">
<%= form.submit %>
</div>
</div>
</div>
</div>
</div> -->
</div>
</div>
<% end %>
<!-- <script>
$("select").click(function(){
$(this).css({"background-color": "#EA2E36", "color": "#fff"});
});
</script>
<script type="text/javascript">
window.addEventListener('keydown',function(e){if(e.keyIdentifier=='U+000A'||e.keyIdentifier=='Enter'||e.keyCode==13){if(e.target.nodeName=='INPUT'&&e.target.type=='text'){e.preventDefault();return false;}}},true);
</script> -->

<br/>
<br/>
<br/>

</body>
</html>
