

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <title>
    询价与试驾
  </title>
  <link href=<%= asset_path 'bootstrap.min.css' %> rel="stylesheet"/>
  <link href=<%= asset_path 'normalize.css' %> rel="stylesheet"/>
  <link href=<%= asset_path 'style2.css' %> rel="stylesheet"/>
  <link href="//cdn.bootcss.com/tether/1.3.6/css/tether.min.css" rel="stylesheet">
  <script src="//cdn.bootcss.com/tether/1.3.6/js/tether.min.js">
  </script>
  <script src=<%= asset_path 'jquery.min.js' %>>
  </script>
  <script src=<%= asset_path 'bootstrap.min.js' %>>
  </script>
  <script src=<%= asset_path 'brand.js' %>>
  </script>
  <script src=<%= asset_path 'form.js' %>>
  </script>
</link>
<!-- Google Tag Manager -->
<script>
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5S67VGH');
</script>

<style>
    h1, h2, h3, h4 {
font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei";
display:block;
transform:none;
}

p {
line-height: 1.7;
margin: 1em 0;
}
.content{
  width:100%;
  margin:0 10px;
}
.flex-column {
-ms-flex-direction: column!important;
flex-direction: column!important;
}
.black{
  color:#000;
}
.article {
margin:0 auto;
text-align: left;
font-weight: 400;
max-width:800px;
}
.article p {
font-size: 0.95em;
}
.article h1 {
font-weight: 600;
font-size: 25pt;
margin: 10px 0;
line-height:1.3;
}
.article h3 {
font-weight: 600;
font-size: 16pt;
margin: 10px 0;
color:#000;
}
.label-kicker {
font-weight: 800;
display: inline-block;
text-transform: uppercase;
color: #fff;
background: #1c1c1c;
font-size: 14px;
padding: 4px 6px 4px 5px;
line-height: 1;
letter-spacing: 1px;
margin: 0 0 2px;
}
.byline {
color: #737373;
margin-bottom: .5em;
font-size: 0.9em;
}
.bold {
font-weight: 800;
}
/*.photo {
margin: 20px 0;
}*/
.full {
clear: both;
}
.list h1 {
font-size: 1em;
font-weight: normal;
}
.article ul {
list-style-type: disc;
font-size: 14px;
}
.article ul li {
background: none;
padding-left: 6px;
color: grey;
line-height: 2;
font-weight: normal;
}
.underline {
border-bottom: 1px solid #EDEDED;
margin: 20px 0;
}
.form{
    max-width:800px;
}
</style>
</head>


<body>


  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe height="0" src="https://www.googletagmanager.com/ns.html?id=GTM-5S67VGH" style="display:none;visibility:hidden" width="0">
    </iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->

  <!-- Start your project here-->
  <div class="content">
  <div class="article" id="main_content">
    <strong class="label-kicker">
      优惠
    </strong>
    <h1>
      买奔驰展示车，送三年保养。多款新车也有不同优惠可供选择!
    </h1>
    <div class="byline">
      <span class="bold black">
        作者:
      </span>
      查查车
      <span class="bold black">
        日期:
      </span>
      25 Oct 2018
    </div>
    <div class="photo full">
      <img class="img-fluid" src=<%= asset_path 'benz_banner_25102018.jpg' %>
    </img>
  </div>
  <p>
    奔驰现在推出购买展示车送3年免费保养服务。即日起，与指定车行购买DEMO车，不仅能够享受价格上的巨大优惠，更能额外获赠3年免费保养服务。


  </p>
<h3>
  同时更有以下系列新车参与优惠活动</h3>

  <div class="photo full">
 <img alt="img-fluid" width="100%" src=<%= asset_path 'benz_25102018_1.jpg' %>/>
</div>
<strong><h3>
  GLC 250 开走价仅需75,800澳元起</h3>
</strong>



  配备有
  <ul>
    <li>无钥匙启动
    </li>
    <li>全景天窗
    </li>
    <li>抬头显示器
    </li>
  </ul>

<h3>
  优惠总价值超过11,000澳元！
</h3>
<div class="underline"></div>
<div class="photo full">
 <img alt="img-fluid" width="100%" src=<%= asset_path 'benz_25102018_2.jpg' %>/>
<h3>
  CLA 180 开走价仅需54,800澳元起
</h3>

  <strong>配备有</strong>
  <ul>
    <li>电动全景天窗
    </li>
    <li>加热电动记忆座椅
    </li>
    <li>无钥匙启动
    </li>
  </ul>

<h3>
  优惠总价值超过6,000澳元！
</h3>
<div class="underline"></div>

</div>
<div class="photo full"><img alt="img-fluid" width="100%"src=<%= asset_path 'benz_25102018_3.jpg' %>/>


</div>
<h3>
  X Class 250d 开走价仅需53,990澳元起
</h3>
<p style="margin:0;">自动挡配金属漆</p>

<h3>
数量有限，立刻咨询
</h3>
</div>
<br>
<div class="underline"></div></div>
<%= form_with(model: @request_record, local: true, id: 'form') do |form| %>
<input id="request_type" name="request_type" type="hidden"/>
<input id="location" name="location" type="hidden"/>
<div class="container-fluid form">
  <div class="row">
    <div class="col-md-12">
      <h1>
        立刻咨询或预约试驾
      </h1>
    </div>
  </div>
  <div class="row">
    <form>
      <div class="col-6">
        <h2>
          姓
        </h2>
        <div class="form-group">
          <input class="form-control" id="lastName" name="lastName" type="text"/>
        </div>
      </div>
      <div class="col-6">
        <h2>
          名
        </h2>
        <div class="form-group">
          <input class="form-control" id="firstName" name="firstName" type="text"/>
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>
        您想
      </h2>
    </div>
  </div>
  <div class="row request_type-row">
    <div class="btn-item">
      <button class="btn" onclick="setRadio(this, request_type)" style="text-align: left;" type="button" value="0">
        询问优惠
      </button>
    </div>
    <div class="btn-item">
      <button class="btn" onclick="setRadio(this, request_type)" style="text-align: left;" type="button" value="1">
        预约试驾
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>
        您在
      </h2>
    </div>
  </div>
  <div class="row location-row">
    <div class="btn-item">
      <button class="btn" onclick="setRadio(this, location)" style="text-align: left;" type="button" value="0">
        墨尔本
      </button>
    </div>
    <div class="btn-item">
      <button class="btn" onclick="setRadio(this, location)" style="text-align: left;" type="button" value="1">
        悉尼
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>
        品牌/车型
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="btn-item">
      <select class="option" id="brand" name="brand">
        <option>
          品牌
        </option>
      </select>
    </div>
    <div class="btn-item">
      <select class="option" id="model" name="model">
        <option>
          车型
        </option>
      </select>
    </div>
  </div>

  <div class="row">
    <button class="btn-outline">
      提交
    </button>
</div>
</div>
<% end %>


<br/>
<br/>
<br/>

</body>
</html>
