

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <title>
    询价与试驾
  </title>
  <link href=<%= asset_path 'bootstrap.min.css' %> rel="stylesheet"/>
  <link href=<%= asset_path 'normalize.css' %> rel="stylesheet"/>
  <link href=<%= asset_path 'style2.css' %> rel="stylesheet"/>
  <link href="//cdn.bootcss.com/tether/1.3.6/css/tether.min.css" rel="stylesheet">
  <script src="//cdn.bootcss.com/tether/1.3.6/js/tether.min.js">
  </script>
  <script src=<%= asset_path 'jquery.min.js' %>>
  </script>
  <script src=<%= asset_path 'bootstrap.min.js' %>>
  </script>
  <script src=<%= asset_path 'brand.js' %>>
  </script>
  <script src=<%= asset_path 'form.js' %>>
  </script>
</link>
<!-- Google Tag Manager -->
<script>
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5S67VGH');
</script>

<style>
h1, h2, h3, h4 {
  font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei";
}
p {
  line-height: 1.7;
  margin: 0 0 1em;
}
/*.flexbox{
  display: flex;
  width:600px;
  background-color: #f5f6f7;
  padding:10px 0;
}*/
.content{
  width:100%;  margin:0 10px;
}
.flexbox{
    max-width:980px;
    margin:0 auto;
    padding-top:1em;
}
.flex-column {
  -ms-flex-direction: column!important;
  flex-direction: column!important;
}
.col-md-4,.col-12{
  padding:0!important;
}
.article {
  margin-left: 10pt;
  margin-right: 10pt;
  text-align: left;
  font-weight: 400;
}
.article p {
  font-size: 0.95em;
}
.article h1 {
  font-weight: 600;
  font-size: 25pt;
  margin: 10px 0;
}
.label-kicker {
  font-weight: 800;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  background: #1c1c1c;
  font-size: 13px;
  padding: 2px 4px 2px 3px;
  line-height: 1;
  letter-spacing: 1px;
  margin: 0 0 2px;
}
.byline {
  color: #737373;
  margin-bottom: .5em;
  font-size: 0.9em;
}
.bold {
  font-weight: 800;
}
.photo {
  margin: 20px 0;
}
.full {
  clear: both;
}
.list h1 {
  font-size: 1em;
  font-weight: normal;
}
.article ul {
  list-style-type: disc;
}
.article ul li {
  background: none;
  padding-left: 6px;
  font-size: 0.8em;
  color: grey;
  line-height: 2;
  font-weight: normal;
}
.underline {
  border-bottom: 1px solid #EDEDED;
  margin: 20px 0;
}

.list {
  font-size: 11pt
}
.form{
    max-width:800px;
}
</style>
</head>


<body>


  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe height="0" src="https://www.googletagmanager.com/ns.html?id=GTM-5S67VGH" style="display:none;visibility:hidden" width="0">
    </iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div class="content" style="  background-color: #f4f5f6!important;
    padding-bottom:1em;">
  <div class="article" id="main_content">

  <div class="row">
    <div class="col-12">
      <img alt="banner" src=<%= asset_path 'toyota_25102018_banner.jpg' %>/>
    </div>
  </div>

  <div class="flexbox">
 <div class="row">
    <div class="col-md-4">
      <img alt="img-fluid" width="570px" src=<%= asset_path 'toyota_25102018_1.jpg' %>/>
    </div>
    <div class="col-md-4">
      <img alt="img-fluid" src=<%= asset_path 'toyota_25102018_2.jpg' %>/>
    </div>
    <div class="col-md-4">
      <img alt="img-fluid" src=<%= asset_path 'toyota_25102018_3.jpg' %>/>
    </div>
  </div>
<div class="row">
    <div class="col-md-4">
      <img alt="img-fluid" width="570px" src=<%= asset_path 'toyota_25102018_4.jpg' %>/>
    </div>
    <div class="col-md-4">
      <img alt="img-fluid" src=<%= asset_path 'toyota_25102018_5.jpg' %>/>
    </div>
    <div class="col-md-4">
      <img alt="img-fluid" src=<%= asset_path 'toyota_25102018_6.jpg' %>/>
    </div>
  </div>
</div>
</div>
</div>

  <br/>

  <%= form_with(model: @request_record, local: true, id: 'form') do |form| %>
  <input id="request_type" name="request_type" type="hidden"/>
  <input id="location" name="location" type="hidden"/>
  <div class="container-fluid form" >
    <div class="row">
      <div class="col-md-12">
        <h1>
          立刻咨询或预约试驾
        </h1>
      </div>
    </div>
    <div class="row">
      <form>
        <div class="col-6">
          <h2>
            姓
          </h2>
          <div class="form-group">
            <input class="form-control" id="lastName" name="lastName" type="text"/>
          </div>
        </div>
        <div class="col-6">
          <h2>
            名
          </h2>
          <div class="form-group">
            <input class="form-control" id="firstName" name="firstName" type="text"/>
          </div>
        </div>
      </form>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2>
          您想
        </h2>
      </div>
    </div>
    <div class="row request_type-row">
      <div class="btn-item">
        <button class="btn" onclick="setRadio(this, request_type)" style="text-align: left;" type="button" value="0">
          询问优惠
        </button>
      </div>
      <div class="btn-item">
        <button class="btn" onclick="setRadio(this, request_type)" style="text-align: left;" type="button" value="1">
          预约试驾
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2>
          您在
        </h2>
      </div>
    </div>
    <div class="row location-row">
      <div class="btn-item">
        <button class="btn" onclick="setRadio(this, location)" style="text-align: left;" type="button" value="0">
          墨尔本
        </button>
      </div>
      <div class="btn-item">
        <button class="btn" onclick="setRadio(this, location)" style="text-align: left;" type="button" value="1">
          悉尼
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2>
          品牌/车型
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="btn-item">
        <select class="option" id="brand" name="brand">
          <option>
            品牌
          </option>
        </select>
      </div>
      <div class="btn-item">
        <select class="option" id="model" name="model">
          <!--Below shows when '1 column' is selected is hidden otherwise-->
          <option>
            车型
          </option>
        </select>
      </div>
    </div>

    <div class="row">
      <button class="btn-outline">
        提交
      </button>
    </div>
  </div>
  <% end %>
  <br/>
  <br/>
  <br/>

</body>
</html>
