<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @request_record.firstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @request_record.lastName %>
</p>

<p>
  <strong>Location:</strong>
  <%= @request_record.location %>
</p>

<p>
  <strong>Request type:</strong>
  <%= @request_record.request_type %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @request_record.brand %>
</p>

<p>
  <strong>Model:</strong>
  <%= @request_record.model %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @request_record.phone %>
</p>

<p>
  <strong>时间:</strong>
  <%= @request_record.created_at %>
</p>

<%= link_to 'Edit', edit_request_record_path(@request_record) %> |
<%= link_to 'Back', request_records_path %>
