html, body {
    font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei";
    height: 100%;
}
h1 {
    font-size: calc(32px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    color: #555555;
    font-weight: 300;
    line-height: 34px;
}
h2 {
    font-size: 14px;
    color: #a2a1a3;
    line-height: 12px;
    font-weight: 400;
    padding-top: 20px;
}
h3 {
    font-size: 12px;
    color: #878787;
    font-weight: 300;
    line-height: 40px;
}
a, a:active, a:hover {
    text-decoration: none;
}
.container-fluid {
    margin: 0 auto;
    max-width: 980px;
    height: 100%;
}
.row {
    display: flex;
    justify-content: center;
}
.btn-item {
    width: 50%;
    padding: 0 15px;
    display: inline-block;
}
.btn, .checkbox {
    background-color: #F1F3F4;
    border: 0;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    border-radius: 2rem;
    font-size: 15px;
    color: #515151;
    height: 42px;
    width: 100%;
    white-space: normal;
    font-weight: 600;
    padding-left: 25px;
}
.btn-active {
    background-color: #EA2E36;
    border: 0;
    color: #ffffff;
    cursor: pointer;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.btn-disable {
    background-color: #dfdfdf !important;
    border: 0 !important;
    color: #fff !important;
}
.btn-outline {
    background-color: #fff;
    border: 2px solid #EA2E36;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    border-radius: 2rem;
    width: 100px;
    height: 42px;
    font-size: 14px;
    color: #EA2E36;
    font-weight: 600;
    margin-top: 30px;
}
.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
    background-color: #EA2E36;
    border: 0;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.form-group {
    margin: 0;
}
.form-control {
    /* background-color: #F1F3F4;*/
    border: 2px solid #F1F3F4;
    border-radius: 2rem;
    height: 42px;
    padding: 0 30px;
    outline: 0px !important;
    -webkit-appearance: none;
}
.form-control:active, .form-control:focus {
    /* background-color: #F1F3F4;*/
    border: 2px solid #EA2E36;
}
/*
.form-control, .form-control:active, .form-control:focus {
    border: none;
    height: 30px;
    padding: 0 30px;
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: 0 3px #F1F3F4;
}
*/

.dropdown-item:hover, .dropdown-item:active {
    background-color: #F1F3F4;
    color: #515151;
}
select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
.option {
    background-color: #F1F3F4;
    border: 0;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    border-radius: 2rem;
    font-size: 15px;
    color: #515151;
    height: 42px;
    width: 100%;
    white-space: normal;
    -webkit-appearance: none;
    padding-left: 25px;
    font-weight: 600;
}
.option:hover, .option:active {
    background-color: #EA2E36;
    border: 0;
    color: #ffffff;
    cursor: pointer;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -webkit-appearance: none;
}
.modal-header, .modal-footer {
    border: 0;
    justify-content: flex-end;
}
.modal-footer {
    justify-content: center;
    padding: 10px;
}
.modal-dialog {
    margin-top: 0;
    margin-bottom: 0;
    height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.btn-outline a {
    display: block;
    color: #EA2E36;
}
.btn-outline a:active, .btn-outline a:hover {
    color: #fff;
}
.success {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30%;
    margin: auto;
    text-align: center;
}
.success h1 {
    font-size: calc(18px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    line-height: 20 px;
}
