<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
            <meta content="width=device-width, initial-scale=1" name="viewport">
                <title>
                    查查车APP-查车型查销售，就用查查车！
                </title>
                <link href=<%= asset_path 'animate.css' %> rel="stylesheet">
                    <link href=<%= asset_path 'bootstrap.min.css' %> rel="stylesheet">
                        <link href=<%= asset_path 'style.css' %> rel="stylesheet">
                            <link href=<%= asset_path 'fonts.css' %> rel="stylesheet">
                                <script src=<%= asset_path 'jquery.min.js' %>>
                                </script>
                                <script src=<%= asset_path 'bootstrap.min.js' %>>
                                </script>
                                <script src=<%= asset_path 'modernizr.custom.37797.js' %>>
                                </script>
                            </link>
                        </link>
                    </link>
                </link>
            </meta>
        </meta>
    </meta>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Google Tag Manager -->
    <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5S67VGH');
    </script>
    <!-- End Google Tag Manager -->
  </head>

  <body>
    <%= yield %>
  </body>
</html>
